{
  "$type": "LuaSTGEditorSharpV2.ViewModel.Configurable.ConfigurableViewModelProvider, LuaSTGEditorSharpV2.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null",
  "TypeUID": "AttachedTask",
  "Captures": [
    "target"
  ],
  "Text": {
    "Neutral": "Create task for {0}",
    "Localized": {
      "zh": "为 {0} 创建任务"
    }
  }
}