{
	"$type": "LuaSTGEditorSharpV2.Core.ViewModel.Configurable.ConfigurableViewModelProvider, LuaSTGEditorSharpV2.Core.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null",
	"TypeUID": "RedirectSelf",
	"Text": "Redirect self as task owner",
	"LocalizedText": {
	  "zh": "将self重定向至任务宿主"
	}
}