{
  "$type":"LuaSTGEditorSharpV2.Core.ViewModel.Configurable.ConfigurableViewModelProviderService, LuaSTGEditorSharpV2.Core.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null",
  "TypeUID":"task",
  "Text":"Create task",
  "LocalizedText":
  {
    "zh":"创建任务"
  }
}