{
	"$type": "LuaSTGEditorSharpV2.ViewModel.Configurable.SelectiveViewModelProvider, LuaSTGEditorSharpV2.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null",
	"TypeUID": "ClearBulletInRange",
	"Icon": "pack://application:,,,/LuaSTGEditorSharpV2.Package.LegacyNode.Resources.Shared;component/images/nodes/16x16/bulletclearange",
	"Captures": [
		{ "Key": "position" },
		{ "Key": "radius" },
		{ "Key": "expanding_time" },
		{ "Key": "clearing_time" },
		{ "Key": "convert_to_faith" },
		{ "Key": "include_indestructible" },
		{ "Key": "vertical_velocity" }
	],
	"Text": {
		"Neutral": [
			{
				"Text": "clear bullets within the radius {2} of position {1}, expanding time {3}, clearing time {4}"
			},
			{
				"Text": ", convert to faith",
				"ConditionOn": 4
			},
			{
				"Text": ", include indestructible bullets",
				"ConditionOn": 5
			},
			{
				"Text": ", vertical velocity {7}"
			}
		],
		"Localized": {
			"zh": [
				{
					"Text": "在位置{1}清除半径{2}内的子弹，，扩展时间{3}，清除时间{4}"
				},
				{
					"Text": ", 转换为信仰",
					"ConditionOn": 4
				},
				{
					"Text": ", 包含不可消除的子弹",
					"ConditionOn": 5
				},
				{
					"Text": ", 垂直速度{7}"
				}
			]
		}
	}
}
