{
	"$type": "LuaSTGEditorSharpV2.ViewModel.Configurable.SelectiveViewModelProvider, LuaSTGEditorSharpV2.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null",
	"TypeUID": "CreateSimpleBullet",
	"Captures": [
		{ "Key": "style" },
		{ "Key": "color" },
		{ "Key": "position" },
		{ "Key": "velocity" },
		{ "Key": "rotation" },
		{ "Key": "aim" },
		{ "Key": "omega" },
		{ "Key": "stay" },
		{ "Key": "destroyable" },
		{ "Key": "delay" },
		{ "Key": "rebound" },
		{ "Key": "acceleration" },
		{ "Key": "accel_angle" },
		{ "Key": "max_velocity" },
		{ "Key": "shuttle" }
	],
	"Text": {
		"Neutral": [
			{
				"Text": "create simple bullet of type {0} with {1} at {2},velocity={3},rotation={4}"
			},
			{
				"Text": ", aim to player",
				"ConditionOn": "5"
			},
			{
				"Text": ", stay on create",
				"ConditionOn": "7"
			},
			{
				"Text": ", indestructible",
				"ConditionOn": "8",
				"Inversed": true
			},
			{
				"Text": ",delay {9} frames before creation",
				"ConditionOn": "9",
				"UseExistanceInsteadOfBoolValue": true
			},
			{
				"Text": ",accel speed={11},accel angle={12}"
			},
			{
				"Text": ",rebound",
				"ConditionOn": "10"
			},
			{
				"Text": ",shuttle",
				"ConditionOn": "14"
			},
			{
				"Text": ",maximum speed of {13}",
				"ConditionOn": "13",
				"UseExistanceInsteadOfBoolValue": true
			}
		],
		"Localized": {
			"zh": [
				{
					"Text": "在{2}以样式{1}, 颜色{2}生成简单子弹, 其速度{3}, 方向{4}"
				},
				{
					"Text": ", 瞄准自机",
					"ConditionOn": "5"
				},
				{
					"Text": ", 生成时停滞",
					"ConditionOn": "7"
				},
				{
					"Text": ", 不可消除",
					"ConditionOn": "8",
					"Inversed": true
				},
				{
					"Text": ", 延迟生成{9}帧",
					"ConditionOn": "9",
					"UseExistanceInsteadOfBoolValue": true
				},
				{
					"Text": ", 加速度{11}, 加速度方向{12}"
				},
				{
					"Text": ", 反弹",
					"ConditionOn": "10"
				},
				{
					"Text": ", 穿屏",
					"ConditionOn": "14"
				},
				{
					"Text": ", 最大速度{13}",
					"ConditionOn": "13",
					"UseExistanceInsteadOfBoolValue": true
				}
			]
		}
	}
}