{
	"$type": "LuaSTGEditorSharpV2.ViewModel.Configurable.SelectiveViewModelProvider, LuaSTGEditorSharpV2.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null",
	"TypeUID": "CreateSimpleBullet",
	"Icon": "pack://application:,,,/LuaSTGEditorSharpV2.Package.LegacyNode.Resources.Shared;component/images/nodes/16x16/bulletcreatestraight.png",
	"Captures": [
		{ "Key": "style" },
		{ "Key": "color" },
		{ "Key": "position" },
		{ "Key": "velocity" },
		{ "Key": "rotation" },
		{ "Key": "aim" },
		{ "Key": "omega" },
		{ "Key": "stay" },
		{ "Key": "destroyable" },
		{ "Key": "delay" },
		{ "Key": "rebound" },
		{ "Key": "acceleration" },
		{ "Key": "accel_angle" },
		{ "Key": "max_velocity" },
		{ "Key": "shuttle" }
	],
	"Text": {
		"Neutral": [
			{
				"Text": "create simple bullet of type {1} with {2} at {3},velocity={4},rotation={5}"
			},
			{
				"Text": ", aim to player",
				"ConditionOn": "5"
			},
			{
				"Text": ", stay on create",
				"ConditionOn": "7"
			},
			{
				"Text": ", indestructible",
				"ConditionOn": "8",
				"Inversed": true
			},
			{
				"Text": ",delay {10} frames before creation",
				"ConditionOn": "9",
				"UseExistanceInsteadOfBoolValue": true
			},
			{
				"Text": ",accel speed={12},accel angle={13}"
			},
			{
				"Text": ",rebound",
				"ConditionOn": "10"
			},
			{
				"Text": ",shuttle",
				"ConditionOn": "14"
			},
			{
				"Text": ",maximum speed of {14}",
				"ConditionOn": "13",
				"UseExistanceInsteadOfBoolValue": true
			}
		],
		"Localized": {
			"zh": [
				{
					"Text": "在{3}以样式{2}, 颜色{3}生成简单子弹, 其速度{4}, 方向{5}"
				},
				{
					"Text": ", 瞄准自机",
					"ConditionOn": "5"
				},
				{
					"Text": ", 生成时停滞",
					"ConditionOn": "7"
				},
				{
					"Text": ", 不可消除",
					"ConditionOn": "8",
					"Inversed": true
				},
				{
					"Text": ", 延迟生成{10}帧",
					"ConditionOn": "9",
					"UseExistanceInsteadOfBoolValue": true
				},
				{
					"Text": ", 加速度{12}, 加速度方向{13}"
				},
				{
					"Text": ", 反弹",
					"ConditionOn": "10"
				},
				{
					"Text": ", 穿屏",
					"ConditionOn": "14"
				},
				{
					"Text": ", 最大速度{14}",
					"ConditionOn": "13",
					"UseExistanceInsteadOfBoolValue": true
				}
			]
		}
	}
}