{
	"$type": "LuaSTGEditorSharpV2.ViewModel.Configurable.ConfigurableViewModelProvider, LuaSTGEditorSharpV2.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null",
	"TypeUID": "DefineBullet",
	"Icon": "pack://application:,,,/LuaSTGEditorSharpV2.Package.LegacyNode.Resources.Shared;component/images/nodes/16x16/bulletdefine.png",
	"Captures": [
		{ "Key": "identifier" }
	],
	"Text": {
		"Neutral": "define bullet class of name {1}",
		"Localized": {
			"zh": "定义子弹类型 {1}"
		}
	}
}
