{
  "$type": "LuaSTGEditorSharpV2.ViewModel.Configurable.ConfigurableViewModelProvider, LuaSTGEditorSharpV2.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null",
  "TypeUID": "DisableFog",
  "Captures": [
    { "Key": "target" }
  ],
  "Text": {
    "Neutral": "disable fog when generating {0}",
    "Localized": {
      "zh": "取消 {0} 的弹雾"
    }
  }
}