{
  "$type":"LuaSTGEditorSharpV2.Core.ViewModel.Configurable.ConfigurableViewModelProviderService, LuaSTGEditorSharpV2.Core.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null",
  "TypeUID":"code block",
  "Captures":[ "name" ],
  "Text":"{0}"
}