{
  "$type":"LuaSTGEditorSharpV2.Core.ViewModel.Configurable.ConfigurableViewModelProviderService, LuaSTGEditorSharpV2.Core.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null",
  "TypeUID":"code block",
  "Captures":[ "name" ],
  "Icon":"pack://application:,,,/LuaSTGEditorSharpV2.Resources.Shared;component/images/16x16/codeblock.png",
  "Text":"{0}"
}