{
	"$type": "LuaSTGEditorSharpV2.ViewModel.Configurable.ConfigurableViewModelProvider, LuaSTGEditorSharpV2.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null",
	"TypeUID": "PostEffectCapture",
	"Text": {
		"Neutral": "",
		"Localized": {
			"zh": ""
		}
	}
}