{
	"$type": "LuaSTGEditorSharpV2.ViewModel.Configurable.SelectiveViewModelProvider, LuaSTGEditorSharpV2.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null",
	"TypeUID": "AttachTaskEx",
	"Icon": "pack://application:,,,/LuaSTGEditorSharpV2.Package.LegacyNode.Resources.Shared;component/images/nodes/16x16/taskattach.png",
	"Captures": [
		{ "Key": "identifier" },
		{ "Key": "parameters" },
		{ "Key": "target" }
	],
	"Text": {
		"Neutral": [
			{"Text": "Attach taskex {1} to {3}"},
			{
				"Text": "with parameters {2}",
				"ConditionOn": 2,
				"UseExistanceInsteadOfBoolValue": true
			}
		],
		"Localized": {
			"zh": [
				{"Text": "附加任务 {1} 到 {3}"},
				{
					"Text": "使用参数 {2}",
					"ConditionOn": 2,
					"UseExistanceInsteadOfBoolValue": true
				}
			]
		}
	}
}