{
	"$type": "LuaSTGEditorSharpV2.ViewModel.Configurable.ConfigurableViewModelProvider, LuaSTGEditorSharpV2.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null",
	"TypeUID": "MoveToEx",
	"Icon": "pack://application:,,,/LuaSTGEditorSharpV2.Package.LegacyNode.Resources.Shared;component/images/nodes/16x16/",
	"Captures": [
		{ "Key": "destination" },
		{ "Key": "duration" },
		{ "Key": "mode" }
	],
	"Text": {
		"Neutral": "move to ({1}) relative to self in {2} frame(s)",
		"Localized": {
			"zh": "在 {2} 帧内移动到相对自身的 ({1}), {3}"
		}
	}
}