{
    "$type": "LuaSTGEditorSharpV2.ViewModel.Configurable.SelectiveViewModelProvider, LuaSTGEditorSharpV2.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null",
    "TypeUID": "Task",
    "Icon": "pack://application:,,,/LuaSTGEditorSharpV2.Package.LegacyNode.Resources.Shared;component/images/nodes/16x16/task.png",
    "Captures": [
        { "Key": "target" },
        { "Key": "redirect_self_to_target" }
    ],
    "Text": {
        "Neutral": [
            { "Text": "Create task for {1}" },
            {
                "Text": ", redirect self to target",
                "ConditionOn": 1
            }
        ],
        "Localized": {
            "zh": [
                { "Text": "为 {1} 创建任务" },
                {
                    "Text": ", 重定向self至目标",
                    "ConditionOn": 1
                }
            ],
        }
    }
}