{
    "$type": "LuaSTGEditorSharpV2.ViewModel.Configurable.ConfigurableViewModelProvider, LuaSTGEditorSharpV2.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null",
    "TypeUID": "TaskMoveTo",
    "Icon": "pack://application:,,,/LuaSTGEditorSharpV2.Package.LegacyNode.Resources.Shared;component/images/nodes/16x16/taskmoveto.png",
    "Captures": [
        {
            "Key": "destination"
        },
        {
            "Key": "duration"
        },
        {
            "Key": "mode"
        }
    ],
    "Text": {
        "Neutral": "move to ({1}) in {2} frame(s), {3}",
        "Localized": {
            "zh": "在 {2} 帧内移动到 ({1}), {3}"
        }
    }
}