{
  "$type": "LuaSTGEditorSharpV2.ViewModel.Configurable.ConfigurableViewModelProvider, LuaSTGEditorSharpV2.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null",
  "TypeUID": "If",
  "Captures": [ { "Key": "condition" } ],
  "Icon": "pack://application:,,,/LuaSTGEditorSharpV2.Resources.Shared;component/images/nodes/16x16/if.png",
  "Text": {
    "Neutral": "if ({0})",
    "Localized": {
      "zh": "如果 ({0})"
    }
  }
}