{
	"$type": "LuaSTGEditorSharpV2.ViewModel.Configurable.SingleListViewModelProvider, LuaSTGEditorSharpV2.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null",
	"TypeUID": "Repeat",
	"Icon": "pack://application:,,,/LuaSTGEditorSharpV2.Resources.Shared;component/images/nodes/16x16/repeat.png",
	"Captures": [ { "Key": "times" } ],
	"CountCapture": { "Key": "count" },
	"SubCaptureRule": [
		{ "Key": "name_{0}" },
		{ "Key": "init_{0}" },
		{ "Key": "increment_{0}" }
	],
	"SubCaptureFormat": {
		"Neutral": [
			{
				"Text": ", ({0} = {1}, +({2}))",
				"ConditionOn": 1,
				"UseExistanceInsteadOfBoolValue": true
			}
		]
	},
	"Text": {
		"Neutral": "repeat {0} times{1}",
		"Localized": {
			"zh": "循环{0}次{1}"
		}
	}
}