{
	"$type": "LuaSTGEditorSharpV2.ViewModel.Configurable.SelectiveViewModelProvider, LuaSTGEditorSharpV2.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null",
	"TypeUID": "Del",
	"Icon": "pack://application:,,,/LuaSTGEditorSharpV2.Package.LegacyNode.Resources.Shared;component/images/nodes/16x16/unitdel.png",
	"Captures": [
		{
			"Key": "target"
		},
		{
			"Key": "trigger_event"
		}
	],
	"Text": {
		"Neutral": [
			{
				"Text": "delete {1}"
			},
			{
				"Text": " without triggering del callback",
				"ConditionOn": 1,
				"Inversed": "true"
			}
		],
		"Localized": {
			"zh": [
				{
					"Text": "删除 {1}"
				},
				{
					"Text": " 且不触发del回调",
					"ConditionOn": 1,
					"Inversed": "true"
				}
			]
		}
	}
}