{
	"$type": "LuaSTGEditorSharpV2.ViewModel.Configurable.SelectiveViewModelProvider, LuaSTGEditorSharpV2.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null",
	"TypeUID": "SetVelocity",
	"Icon": "pack://application:,,,/LuaSTGEditorSharpV2.Package.LegacyNode.Resources.Shared;component/images/nodes/16x16/setv.png",
	"Captures":[
		{"Key":"target"},
		{"Key":"velocity"},
		{"Key":"angle"},
		{"Key":"aim"},
		{"Key":"set_rotation"}
	],
	"Text": {
		"Neutral": [
			{"Text":"set {1}'s velocity to {2}, angle to {3}"},
			{
				"Text":"(relative to player direction)",
				"ConditionOn": 4
			},
			{
				"Text":", sync rotation to velocity",
				"ConditionOn": 5
			}
		],
		"Localized": {
			"zh": [
				{"Text":"设置{1}的速度为{2}，角度为{3}"},
				{
					"Text":"(相对于自机方向)",
					"ConditionOn": 4
				},
				{
					"Text":",同步角度到速度方向",
					"ConditionOn": 5
				}
			]
		}
	}
}