{
  "$type": "LuaSTGEditorSharpV2.ViewModel.Configurable.ConfigurableViewModelProvider, LuaSTGEditorSharpV2.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null",
  "TypeUID": "If.ElseIf",
  "Captures": [ { "Key": "condition" } ],
  "Icon": "pack://application:,,,/LuaSTGEditorSharpV2.Resources.Shared;component/images/nodes/16x16/elseif.png",
  "Text": {
    "Neutral": "elseif ({0}) then",
    "Localized": {
      "zh": "否则如果 ({0}) 则"
    }
  }
}