{
  "$type": "LuaSTGEditorSharpV2.ViewModel.Configurable.ConfigurableViewModelProvider, LuaSTGEditorSharpV2.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null",
  "TypeUID": "Include",
  "Captures": [ "path" ],
  "Icon": "pack://application:,,,/LuaSTGEditorSharpV2.Resources.Shared;component/images/nodes/16x16/patch.png",
  "Text": "Include lua script: {0}",
  "LocalizedText": {
    "zh": "载入Lua脚本：{0}"
  }
}