{
	"$type": "LuaSTGEditorSharpV2.ViewModel.Configurable.SingleListViewModelProvider, LuaSTGEditorSharpV2.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null",
	"TypeUID": "LocalVariable",
	
	"CountCapture": "count",
	"SubCaptureRule": [ "name_{0}", "value_{0}" ],
	"SubCaptureFormat": {
		"Neutral": [
			{
				"Text": "\u000Avariable {0} = {1}",
				"ConditionOn": 1,
				"UseExistanceInsteadOfBoolValue": true
			},
			{
				"Text": "\u000Avariable {0}",
				"ConditionOn": 1,
				"UseExistanceInsteadOfBoolValue": true,
				"Inversed": true
			}
		],
		"Localized": {
			"zh": [
				{
					"Text": "\u000A变量 {0} = {1}",
					"ConditionOn": 1,
					"UseExistanceInsteadOfBoolValue": true
				},
				{
					"Text": "\u000A变量 {0}",
					"ConditionOn": 1,
					"UseExistanceInsteadOfBoolValue": true,
					"Inversed": true
				}
			]
		}
	},
	"Text": {
		"Neutral": "define:{0}",
		"Localized": {
			"zh": "定义：{0}"
		}
	}
}