{
	"$type": "LuaSTGEditorSharpV2.ViewModel.Configurable.ConfigurableViewModelProvider, LuaSTGEditorSharpV2.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null",
	"TypeUID": "If",
	"Captures": [ "times" ],
	"Icon": "pack://application:,,,/LuaSTGEditorSharpV2.Resources.Shared;component/images/nodes/16x16/repeat.png",
	"Text": {
		"Neutral": "repeat {0} times",
		"Localized": {
			"zh": "循环{0}次"
		}
	}
}