{
  "$type": "LuaSTGEditorSharpV2.Core.ViewModel.Configurable.ConfigurableViewModelProvider, LuaSTGEditorSharpV2.Core.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null",
  "TypeUID": "UseResourceGroup",
  "Captures": [ "name" ],
  "Icon": "pack://application:,,,/LuaSTGEditorSharpV2.Resources.Shared;component/images/nodes/16x16/codeblock.png",
  "Text": "Resource group: {0}",
  "LocalizedText": {
    "zh": "资源组：{0}"
  }
}