{
	"$type": "LuaSTGEditorSharpV2.ViewModel.Configurable.SelectiveViewModelProvider, LuaSTGEditorSharpV2.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null",
	"TypeUID": "DefineSpellCard",
	"Icon": "pack://application:,,,/LuaSTGEditorSharpV2.Package.LegacyNode.Resources.Shared;component/images/nodes/16x16/bossspellcard.png",
	"Captures": [
		{ "Key": "spellcard_name" },
		{ "Key": "protect_time" },
		{ "Key": "resist_time" },
		{ "Key": "total_time" },
		{ "Key": "hp" },
		{ "Key": "power_amount" },
		{ "Key": "faith_amount" },
		{ "Key": "point_amount" },
		{ "Key": "bomb_immunity" },
		{ "Key": "opening_performance" }
	],
	"Text": {
		"Neutral": [
			{
				"Text": "Non-spellcard",
				"ConditionOn": 0,
				"UseExistanceInsteadOfBoolValue": true,
				"Inversed": true
			},
			{
				"Text": "SpellCard {1} ",
				"ConditionOn": 0,
				"UseExistanceInsteadOfBoolValue": true
			},
			{
				"Text": ", time(protected:{2}(s), resist:{3}(s), total:{4}(s)), hp: {5}, bonus {6} power, {7} faith, {8} points"
			},
			{
				"Text": ", immune to bomb",
				"ConditionOn": 8
			},
			{
				"Text": ", redirect entrance of scprac to previous phase",
				"ConditionOn": 9
			}
		],
		"Localized": {
			"zh": [
				{
					"Text": "非符",
					"ConditionOn": 0,
					"UseExistanceInsteadOfBoolValue": true,
					"Inversed": true
				},
				{
					"Text": "符卡 {1} ",
					"ConditionOn": 0,
					"UseExistanceInsteadOfBoolValue": true
				},
				{
					"Text": ", 无敌{2}秒, 减伤{3}秒, 总共{4}秒, 血量{5}, 击破奖励{6}灵力, {7}信仰, {8}点数"
				},
				{
					"Text": ", 免疫Bomb",
					"ConditionOn": 8
				},
				{
					"Text": ", 将符卡练习入口重定向至上一阶段",
					"ConditionOn": 9
				}
			]
		}
	}
}