{
	"$type": "LuaSTGEditorSharpV2.ViewModel.Configurable.ConfigurableViewModelProvider, LuaSTGEditorSharpV2.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null",
	"TypeUID": "SetWalkImage",
	"Icon": "pack://application:,,,/LuaSTGEditorSharpV2.Package.LegacyNode.Resources.Shared;component/images/nodes/16x16/bosswalkimg.png",
	"Captures": [
		{ "Key": "path" },
		{ "Key": "size" },
		{ "Key": "frames_per_line" },
		{ "Key": "loop_frames_per_line" },
		{ "Key": "animation_interval" },
		{ "Key": "collision_size" }
	],
	"Text": {
		"Neutral": "Set image from path {1} as sprite, animation interval {5}, collision box {6}",
		"Localized": {
			"zh": "设置行走图为{1}，动画间隔{5}，碰撞箱({6})"
		}
	}
}