{
	"$type": "LuaSTGEditorSharpV2.ViewModel.Configurable.SelectiveViewModelProvider, LuaSTGEditorSharpV2.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null",
	"TypeUID": "CreateEnemy",
	"Icon": "pack://application:,,,/LuaSTGEditorSharpV2.Package.LegacyNode.Resources.Shared;component/images/nodes/16x16/enemycreate.png",
	"Captures": [
		{ "Key": "identifier" },
		{ "Key": "position" },
		{ "Key": "parameters" }
	],
	"Text": {
		"Neutral": [
			{ "Text": "create enemy of type {1} at position ({2})" },
			{
				"Text": "with parameter {3}",
				"ConditionOn": 2,
				"UseExistanceInsteadOfBoolValue": true
			}
		],
		"Localized": {
			"zh": [
				{ "Text": "在({2})创建类型{1}的敌机" },
				{
					"Text": "，传入参数{3}",
					"ConditionOn": 2,
					"UseExistanceInsteadOfBoolValue": true
				}
			]
		}
	}
}