{
	"$type": "LuaSTGEditorSharpV2.ViewModel.Configurable.ConfigurableViewModelProvider, LuaSTGEditorSharpV2.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null",
	"TypeUID": "LoadSE",
	"Icon": "pack://application:,,,/LuaSTGEditorSharpV2.Package.LegacyNode.Resources.Shared;component/images/nodes/16x16/loadsound.png",
	"Captures": [
		{ "Key": "file_path" },
		{ "Key": "resource_name" }
	],
	"Text": {
		"Neutral": "Load SE {2} ({1})",
		"Localized": {
			"zh": "加载音效 {2}（{1}）"
		}
	}
}
