{
  "$type": "LuaSTGEditorSharpV2.ViewModel.Specialized.ServiceDefinition, LuaSTGEditorSharpV2.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null",
  "TypeUID": "ServiceDefinition",
  "Icon": "pack://application:,,,/LuaSTGEditorSharpV2.Resources.Shared;component/images/nodes/16x16/setting.png",
  "DeclarationCaputure": { "Key": "serviceDeclaration" },
  "ShortNameCaputure": { "Key": "serviceShortName" },
  "Text": {
    "Neutral": "define node service of type {1} to node type {2}",
    "Localized": {
      "zh": "针对节点类型{2}定义节点服务{1}"
    }
  },
  "ErrorText": {
    "Neutral": "define node service of type {1}",
    "Localized": {
      "zh": "定义节点服务：{1}"
    }
  }
}