{
  "$type": "LuaSTGEditorSharpV2.ViewModel.Specialized.ServiceDefinition, LuaSTGEditorSharpV2.ViewModel, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null",
  "TypeUID": "ServiceDefinition",
  "Icon": "pack://application:,,,/LuaSTGEditorSharpV2.Resources.Shared;component/images/nodes/16x16/setting.png",
  "DeclarationCaputure": "serviceDeclaration",
  "ShortNameCaputure": "serviceShortName",
  "Text": {
    "Neutral": "define node service of type {0} to node type {1}",
    "Localized": {
      "zh": "针对节点类型{1}定义节点服务{0}"
    }
  },
  "ErrorText": {
    "Neutral": "define node service of type {0}",
    "Localized": {
      "zh": "定义节点服务：{0}"
    }
  }
}